* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 54%, 11%);
  min-height: 98vh;
}

html, body {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
}

.eq-container {
  width: 100%;
  max-width: 320px;
  background-color: hsl(216, 50%, 16%);
  padding: 1.4rem;
  margin: 1rem;
  border-radius: 16px;
}

.eq-img-box img {
  width: 100%;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

/* .eq-img01 {
    background-image: url("/images/image-equilibrium.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
} */

.eq-img02{
  /* display: none; */
  position: absolute;
  top: 0;
  width: 100%;
  /* height: 300px; */
  /* background: url(/images/icon-view.svg) no-repeat center center; */
  /* background-size: cover; */
}

.eq-container p {
  color: hsl(215, 51%, 70%);
}

.nft-img p {
  color: hsl(178, 100%, 50%);
}

.box-text {
  margin: 1rem 0;
}

.box-text h3 {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.box-text p {
  margin-top: 0.6rem;
}

.hover-text:hover {
  color: hsl(178, 100%, 50%);
}

.box-nft {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.nft-img, .nft-days {
  display: flex;
  align-items: center;
}

.nft-img img, .nft-days img {
  margin-right: 10px;
}

.box-avatar {
  display: flex;
  align-items: center;
  border-top: 1px solid hsl(215, 32%, 27%);
  padding: 1rem 0 0 0;
}

.box-avatar img {
  width: 15%;
  height: 15%;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50px;
  margin-right: 20px;
}

.avatar-name {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
